:root {
  --abbey: #4d4d4d;
  --alabaster: #f9fafb;
  --big-stone: #14243c;
  --black: #000000;
  --celeste: #cccccc;
  --celeste-2: #cbcbcb;
  --comet: #575a89;
  --concrete: #f2f2f2;
  --cultured-pearl: #f5f5f5;
  --gun-powder: #3f3d56;
  --lochmara: #0080c9;
  --melon: #ffb8b8;
  --melon-2: #ffb7b7;
  --mercury: #e6e6e6;
  --mercury-2: #e5e5e5;
  --rose-dust: #a0616a;
  --rose-dust-2: #9f616a;
  --seashell: #f1f1f1;
  --tropical-blue: #cbe1f2;
  --white: #ffffff;
  --wild-watermelon: #ff6584;
  --x0070bf: #0070bf;

  --font-size-l: 28px;
  --font-size-m: 21px;
  --font-size-s: 16px;
  --font-size-xl: 37px;
  --font-size-xs: 14px;
  --font-size-xxs: 13px;
  --font-size-xxxs: 12px;

  --font-family-barlow: "Barlow", Helvetica;
}
.barlow-normal-cultured-pearl-14px {
  color: var(--cultured-pearl);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}
.barlow-normal-big-stone-16px {
  color: var(--big-stone);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
.barlow-normal-abbey-21px {
  color: var(--abbey);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.barlow-normal-big-stone-21px {
  color: var(--big-stone);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.barlow-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}
.barlow-normal-big-stone-14px {
  color: var(--big-stone);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}
.barlow-medium-white-21px {
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}
.barlow-bold-big-stone-21px {
  color: var(--big-stone);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.barlow-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}
.barlow-medium-white-14px {
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}
.barlow-bold-lochmara-12px {
  color: var(--x0070bf);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 700;
}
.barlow-medium-lochmara-37px {
  color: var(--x0070bf);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}
.barlow-bold-big-stone-16px {
  color: var(--big-stone);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}
.barlow-normal-abbey-14px {
  color: var(--abbey);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
.barlow-normal-abbey-16px {
  color: var(--abbey);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
.barlow-normal-big-stone-21px-2 {
  color: var(--big-stone);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-m);
}
.barlow-normal-big-stone-15px {
  color: var(--big-stone);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
.barlow-medium-lochmara-14px {
  color: var(--x0070bf);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}
.barlow-normal-white-21px {
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.barlow-normal-white-28px {
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
.barlow-medium-white-37px {
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}
.barlow-medium-big-stone-14px {
  color: var(--big-stone);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
}
.barlow-medium-big-stone-18px {
  color: var(--big-stone);
  font-family: var(--font-family-barlow);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.barlow-normal-big-stone-25px {
  color: var(--big-stone);
  font-family: var(--font-family-barlow);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}
.barlow-bold-big-stone-28px {
  color: var(--big-stone);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}
.barlow-bold-big-stone-40px {
  color: var(--big-stone);
  font-family: var(--font-family-barlow);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
.barlow-normal-abbey-30px {
  color: var(--abbey);
  font-family: var(--font-family-barlow);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.barlow-normal-abbey-28px {
  color: var(--abbey);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
.barlow-normal-abbey-37px {
  color: var(--abbey);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}
.barlow-medium-lochmara-28px {
  color: var(--x0070bf);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}
.barlow-medium-lochmara-21px {
  color: var(--x0070bf);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}
.barlow-medium-lochmara-16px {
    color: var(--x0070bf);
    font-family: var(--font-family-barlow);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
}
.barlow-normal-lochmara-14px {
  color: var(--x0070bf);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}
.barlow-bold-lochmara-14px {
  color: var(--x0070bf);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}
.barlow-bold-abbey-16px {
  color: var(--abbey);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}
.barlow-normal-big-stone-28px {
  color: var(--big-stone);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
.barlow-light-big-stone-28px {
  color: var(--big-stone);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}
.barlow-light-big-stone-50px {
  color: var(--big-stone);
  font-family: var(--font-family-barlow);
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
}
.barlow-light-white-50px {
  color: #fff;
  font-family: var(--font-family-barlow);
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
}
.barlow-normal-abbey-21px-2 {
  color: var(--abbey);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-m);
}
.barlow-bold-abbey-21px {
  color: var(--abbey);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.barlow-bold-lochmara-16px {
  color: var(--x0070bf);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}
.barlow-bold-white-21px {
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.barlow-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
.barlow-medium-abbey-14px {
  color: var(--abbey);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
}
.border-1px-x0070bf {
  border: 1px solid var(--x0070bf);
}
.border-2px-x0070bf {
  border: 2px solid var(--x0070bf);
}
